{% ckan_extends %}

{% block header_site_navigation %}
<ul class="nav navbar-nav">
    {% block header_site_navigation_tabs %}
    <li> <a href="{{ url_for('dataset.search') }}" class="image" title="{{ _('Search Metadata') }}">
        <i class="fa fa-sitemap"></i><span class="text">{{ _(' Catalog') }}</span></a></li>
    <li> <a href="{{ url_for('organization.index') }}" class="image" title="{{ _('Organizations') }}">
        <i class="fa fa-building"></i><span class="text">{{ _(' Organizations') }}</span></a></li>
    <li> <a href="{{ url_for('group.index') }}" class="image" title="{{ _('Publish Metadata') }}">
        <i class="fa fa-users"></i><span class="text">{{ _(' Groups') }}</span></a></li>
    <li> <a href="" class="image" title="{{ _('About') }}">
            <i class="fa fa-clipboard"></i><span class="text">{{ _(' About') }}</span></a></li>
<li>
    <a href="{{ url_for('projects') }}" class="image" title="{{ _('Projects') }}">
        <i class="fa fa-clipboard"></i><span class="text">{{ _('Projects') }}</span>
    </a>
</li>

    {% endblock %}
{% endblock %}
